<h2 class="menuH3">Featured Movies</h2>
<div id="main-content">
    <div class="container">
   <div class="row">
	    <% @movies.each do |movie| %>
	    
       	<div class="movie-list">	
       	<div class="movie">
       	    <figure class="movie-poster"><%= link_to (image_tag movie.image_url, :class=>"colPict"), movie %></figure>
        <div class= "movie-title"><%= movie.title %> </div>
 
            <li>(<%= movie.release_year %>)</li>
          
            <li>$<%= movie.price %></li>
            <li> <%= button_to 'Add to Cart', line_items_path(movie_id: movie), :class=>"button",
              remote: true %></li>
         
          
                    <% if user_signed_in? %>
                <a href="/cart/<%= item.id %>" class="button">Add to Cart</a>  
          
          <% end %>
 
          
           <% if session[:login] == 1 %>
        
        <%= link_to 'Edit', edit_item_path(item), :class =>"button", :role=>"button"  %>
        <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button"  %>
     
        <% end %>
             <%= link_to 'Edit', edit_item_path(item), :class =>"button", :role=>"button"  %>
        <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button"  %>
        
        
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   
     </div>
    <% end %>
      </div>
  
  </div>
</div>